body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-position: center;
}

